<div  block-ui="loginBlock">
	<div class="log-in">
		<form ng-submit="login.logUser(campaign, username, password);">
			<div class="form-group">
		    <input type="username" class="form-control" id="campaign" placeholder="Campaign" ng-model="campaign"></input>
		  </div>
		  <div class="form-group">
		    <input type="username" class="form-control" id="username" placeholder="Username" ng-model="username"></input>
		  </div>
		  <div class="form-group">
		    <input type="password" class="form-control" id="pwd" placeholder="Password" ng-model="password"></input>
		  </div>
		  <div class="login-button">
		  	<button type="submit" class="btn btn-primary">Log In</button>
		  </div>
		</form>
	</div>
</div>